
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(201, 162, 202);
}

.widthRedes{
    width: 4rem;
}
.widthLogo{
    width: 4rem;
}
.linea{
    color: transparent;
}
.colorHeader{
    background-color: rgb(162, 80, 171);
    color: cornsilk;
}
.marginCarrousel{
    margin-left: 2rem;
    margin-right: 2rem;
}
.marginForm{
    margin: 5rem
}  
.card{
    border: 0.4rem solid rgb(201, 162, 202) !important;
}

.estiloSection{
    margin: 3rem;
    display: flex;
    flex-direction: column;
}
.estiloCardsProdGatos{
    width: 13rem;
    margin: 2rem;
}
.estiloTituloProd {
    margin: 2rem;
    color: cornsilk;
}
.backgroundTituloProd{
    background-color:rgb(201, 162, 202);
}


.estiloNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}
.nav-link{
    color: black !important;
}
.fondoCard{
    background-color: rgb(201, 162, 202);
}


@media screen and (min-width:500px) {
    .estiloSection{
        margin: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }   
    .estiloCards{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .productosOrganizacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:1000px){
    .productosOrganizacion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
        justify-content: space-evenly;
    }
}